<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<%= image_tag @image.file if @image.file.attached? %>
<br>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
